<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oqplanner.tripcost.mapper.TripCostMapper">

    <!--<resultMap id="CostResultMap" type="com.oqplanner.tripcost.domain.TripCost">
        <id property="tripCostNo" column="TRIP_CONST_NO" />
        <result property="tripPrivateCostNo" column="TRIP_PRIVATE_COST_NO" />
        <result property="tripPublicCostNo" column="TRIP_PUBLIC_COST_NO" />
        <result property="tripProjectNo" column="TRIP_PROJECT_NO" />
        <association property="tripPrivateCost" javaType="tripPrivateCost">
            <id property="tripPrivateCostNo" column="TRIP_PRIVATE_CONST_NO" />
            <result property="tripCompanionNo" column="TRIP_COMPANION_NO" />
            <result property="tripPrivateCostUse" column="TRIP_PRIVATE_COST_USE" />
            <result property="tripPrivateCostOrder" column="TRIP_PRIVATE_COST_ORDER" />
            <result property="tripPrivateCost" column="TRIP_PRIVATE_COST" />
            <result property="tripPrivateCostNote" column="TRIP_PRIVATE_COST_NOTE" />
            <result property="tripPrivateCostRegDt" column="TRIP_PRIVATE_COST_REG_DT" />
            <result property="tripPrivateCostModDt" column="TRIP_PRIVATE_COST_MOD_DT" />
        </association>
        <association property="tripPublicCost" javaType="tripPublicCost">
            <id property="tripPublicCostNo" column="TRIP_PUBLIC_COST_NO" />
            <result property="tripPublicCostUse" column="TRIP_PUBLIC_COST_USE" />
            <result property="tripPublicCostOrder" column="TRIP_PUBLIC_COST_ORDER" />
            <result property="tripPublicCost" column="TRIP_PUBLIC_COST" />
            <result property="tripPublicCostNote" column="TRIP_PUBLIC_COST_NOTE" />
            <result property="tripPublicCostRegDt" column="TRIP_PUBLIC_COST_REG_DT" />
            <result property="tripPublicCostModDt" column="TRIP_PUBLIC_COST_MOD_DT" />
        </association>
    </resultMap>-->

    <resultMap id="TripCompanionMap" type="com.oqplanner.tripcompanion.domain.TripCompanion">
        <id property="tripCompanionNo" column="TRIP_COMPANION_NO" />
        <result property="tripProjectNo" column="TRIP_PROJECT_NO" />
        <result property="tripCompanionNm" column="TRIP_COMPANION_NM" />
        <collection property="tripPrivateCostList"
                    ofType="com.oqplanner.tripcost.domain.TripCost$TripPrivateCost"
                    javaType="List">
            <id property="tripPrivateCostNo" column="TRIP_PRIVATE_COST_NO" />
            <result property="tripCompanionNo" column="TRIP_COMPANION_NO" />
            <result property="tripPrivateCostUse" column="TRIP_PRIVATE_COST_USE" />
            <result property="tripPrivateCostOrder" column="TRIP_PRIVATE_COST_ORDER" />
            <result property="tripPrivateCost" column="TRIP_PRIVATE_COST" />
            <result property="tripPrivateCostNote" column="TRIP_PRIVATE_COST_NOTE" />
            <result property="tripPrivateCostRegDt" column="TRIP_PRIVATE_COST_REG_DT" />
            <result property="tripPrivateCostModDt" column="TRIP_PRIVATE_COST_MOD_DT" />
        </collection>
    </resultMap>

    <insert id="savePublicCost" parameterType="com.oqplanner.tripcost.domain.TripCost">
        SET @max_order = COALESCE((SELECT MAX(TRIP_PUBLIC_COST_ORDER) FROM TRIP_PUBLIC_COST), 0);
        INSERT INTO TRIP_PUBLIC_COST(
            TRIP_PUBLIC_COST_USE,
            TRIP_PUBLIC_COST_ORDER,
            TRIP_PUBLIC_COST,
            TRIP_PUBLIC_COST_NOTE,
            TRIP_PUBLIC_COST_REG_DT,
            TRIP_PUBLIC_COST_MOD_DT
        )
        VALUES
            (
                #{tripPublicCost.tripPublicCostUse},
                @max_order := @max_order + 1,
                #{tripPublicCost.tripPublicCost},
                #{tripPublicCost.tripPublicCostNote},
                sysdate(),
                sysdate()
            )
        <selectKey keyProperty="tripPublicCostNo" resultType="String">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <insert id="savePrivateCost" parameterType="com.oqplanner.tripcost.domain.TripCost">
        SET @max_order = COALESCE((SELECT MAX(TRIP_PRIVATE_COST_ORDER) FROM TRIP_PRIVATE_COST), 0);
        INSERT INTO TRIP_PRIVATE_COST(
            TRIP_COMPANION_NO,
            TRIP_PRIVATE_COST_USE,
            TRIP_PRIVATE_COST_ORDER,
            TRIP_PRIVATE_COST,
            TRIP_PRIVATE_COST_NOTE,
            TRIP_PRIVATE_COST_REG_DT,
            TRIP_PRIVATE_COST_MOD_DT
        )
        VALUES
        (
            #{tripPrivateCost.tripCompanionNo},
            #{tripPrivateCost.tripPrivateCostUse},
            @max_order := @max_order + 1,
            #{tripPrivateCost.tripPrivateCost},
            #{tripPrivateCost.tripPrivateCostNote},
            sysdate(),
            sysdate()
        )
        <selectKey keyProperty="tripPrivateCostNo" resultType="String">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="saveCost" parameterType="TripCost">
        INSERT INTO TRIP_COST(
            TRIP_PROJECT_NO,
            TRIP_PRIVATE_COST_NO,
            TRIP_PUBLIC_COST_NO
        )
        VALUES (
            #{tripProjectNo},
            #{tripPrivateCostNo},
            #{tripPublicCostNo}
        )
    </insert>

    <select id="getPublicCostList" resultType="com.oqplanner.tripcost.domain.TripCost$TripPublicCost">
        SELECT
       /*     tc.TRIP_COST_NO
             ,tc.TRIP_PROJECT_NO
             ,tc.TRIP_PUBLIC_COST_NO*/
              tpc.TRIP_PUBLIC_COST_NO
             ,tpc.TRIP_PUBLIC_COST_USE
             ,tpc.TRIP_PUBLIC_COST_ORDER
             ,tpc.TRIP_PUBLIC_COST
             ,tpc.TRIP_PUBLIC_COST_NOTE
             ,tpc.TRIP_PUBLIC_COST_REG_DT
             ,tpc.TRIP_PUBLIC_COST_MOD_DT
        FROM TRIP_COST tc
        JOIN TRIP_PUBLIC_COST tpc
          ON tc.TRIP_PUBLIC_COST_NO = tpc.TRIP_PUBLIC_COST_NO
        <where>
            <if test='tripProjectNo != null and tripProjectNo != ""'>
                AND tc.TRIP_PROJECT_NO =  #{tripProjectNo}
            </if>
        </where>
    </select>

    <select id="getPrivateCostList" resultMap="TripCompanionMap">
        SELECT
            tcost.TRIP_PROJECT_NO
            ,tcom.TRIP_COMPANION_NO
            ,tcom.TRIP_COMPANION_NM
            ,tpc.TRIP_PRIVATE_COST_NO
            ,tpc.TRIP_PRIVATE_COST_USE
            ,tpc.TRIP_PRIVATE_COST_ORDER
            ,tpc.TRIP_PRIVATE_COST
            ,tpc.TRIP_PRIVATE_COST_NOTE
            ,tpc.TRIP_PRIVATE_COST_REG_DT
            ,tpc.TRIP_PRIVATE_COST_MOD_DT
        FROM TRIP_COST tcost
        INNER JOIN TRIP_PRIVATE_COST tpc ON tcost.TRIP_PRIVATE_COST_NO = tpc.TRIP_PRIVATE_COST_NO
        INNER JOIN TRIP_COMPANION tcom ON tcom.TRIP_COMPANION_NO = tpc.TRIP_COMPANION_NO
        <where>
            <if test='tripProjectNo != null and tripProjectNo != ""'>
                AND tcost.TRIP_PROJECT_NO =  #{tripProjectNo}
            </if>
            <if test='tripCompanionNo != null and tripCompanionNo != ""'>
                AND tcom.TRIP_COMPANION_NO =  #{tripCompanionNo}
            </if>
        </where>
    </select>

    <update id="modifyPublicCost" parameterType="com.oqplanner.tripcost.domain.TripCost">
        UPDATE TRIP_PUBLIC_COST
           SET TRIP_PUBLIC_COST_USE = #{tripPublicCost.tripPublicCostUse}
                ,TRIP_PUBLIC_COST = #{tripPublicCost.tripPublicCost}
                ,TRIP_PUBLIC_COST_NOTE = #{tripPublicCost.tripPublicCostNote}
                ,TRIP_PUBLIC_COST_MOD_DT = sysdate()
        <where>
  <!--          <if test='tripProjectNo != null and tripProjectNo != ""'>
                AND TRIP_PROJECT_NO = #{tripProjectNo}
            </if>-->
            <if test='tripPublicCost.tripPublicCostNo != null and tripPublicCost.tripPublicCostNo != ""'>
                AND TRIP_PUBLIC_COST_NO = #{tripPublicCost.tripPublicCostNo}
            </if>
        </where>
    </update>

    <update id="modifyPrivateCost" parameterType="com.oqplanner.tripcost.domain.TripCost">
        UPDATE TRIP_PRIVATE_COST
        SET TRIP_PRIVATE_COST_USE = #{tripPrivateCost.tripPrivateCostUse}
        ,TRIP_PRIVATE_COST = #{tripPrivateCost.tripPrivateCost}
        ,TRIP_PRIVATE_COST_NOTE = #{tripPrivateCost.tripPrivateCostNote}
        ,TRIP_PRIVATE_COST_MOD_DT = sysdate()
        <where>
            <if test='tripPrivateCost.tripPrivateCostNo != null and tripPrivateCost.tripPrivateCostNo != ""'>
                AND TRIP_PRIVATE_COST_NO = #{tripPrivateCost.tripPrivateCostNo}
            </if>
            <if test='tripPrivateCost.tripCompanionNo != null and tripPrivateCost.tripCompanionNo != ""'>
                AND TRIP_COMPANION_NO = #{tripPrivateCost.tripCompanionNo}
            </if>
        </where>
    </update>




</mapper>