<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oqplanner.tripschedule.mapper.TripScheduleMapper">

    <resultMap id="tripProjectMap" type="tripProject">
        <id property="tripProjectNo" column="TRIP_PROJECT_NO"/>
        <result property="tripUserNo" column="TRIP_USER_NO"/>
        <association property="tripPlan" javaType="tripPlan">
            <id property="tripPlanNo" column="TRIP_PLAN_NO"/>
            <result property="tripPlanNm" column="TRIP_PLAN_NM"/>
            <result property="tripPlannerNm" column="TRIP_PLANNER_NM"/>
            <result property="tripPlanStDt" column="TRIP_PLAN_ST_DT"/>
            <result property="tripPlanEdDt" column="TRIP_PLAN_ED_DT"/>
            <result property="tripPlanDefaultYn" column="TRIP_PLAN_DEFAULT_YN"/>
            <result property="tripPlanStTime" column="TRIP_PLAN_ST_TIME"/>
            <result property="tripPlanTimeUnit" column="TRIP_PLAN_TIME_UNIT"/>
            <result property="tripPlanAllNum" column="TRIP_PLAN_ALL_NUM"/>
            <result property="tripPlanRegDt" column="TRIP_PLAN_REG_DT"/>
            <result property="tripPlanModDt" column="TRIP_PLAN_NOD_DT"/>
        </association>
    </resultMap>

    <insert id="saveSchedule" parameterType="map">
        INSERT INTO TRIP_SCHEDULE(
                        TRIP_PROJECT_NO,
                        TRIP_SCHEDULE_ST_DT,
                        TRIP_SCHEDULE_ED_DT,
                        TRIP_SCHEDULE_ST_TIME,
                        TRIP_SCHEDULE_ED_TIME,
                        TRIP_SCHEDULE_DEPART,
                        TRIP_SCHEDULE_ARRIVE,
                        TRIP_SCHEDULE_TRANSPORT,
                        TRIP_SCHEDULE_COST,
                        TRIP_SCHEDULE_NOTE,
                        TRIP_SCHEDULE_ORDER,
                        TRIP_SCHEDULE_DAY,
                        TRIP_SCHEDULE_REG_DT,
                        TRIP_SCHEDULE_MOD_DT)
        VALUES
        <foreach item="item" index="index" collection="scheduleList" separator=",">
            (#{item.tripProjectNo},
             #{item.tripScheduleStDt},
             #{item.tripScheduleEdDt},
             #{item.tripScheduleStTime},
             #{item.tripScheduleEdTime},
             #{item.tripScheduleDepart},
             #{item.tripScheduleArrive},
             #{item.tripScheduleTransport},
             #{item.tripScheduleCost},
             #{item.tripScheduleNote},
             #{item.tripScheduleOrder},
             #{item.tripScheduleDay},
             sysdate(),
             sysdate())
        </foreach>
    </insert>

    <select id="getScheduleList" parameterType="TripSchedule">
        SELECT  TRIP_PROJECT_NO,
                TRIP_SCHEDULE_ST_DT,
                TRIP_SCHEDULE_ED_DT,
                TRIP_SCHEDULE_ST_TIME,
                TRIP_SCHEDULE_ED_TIME,
                TRIP_SCHEDULE_DEPART,
                TRIP_SCHEDULE_ARRIVE,
                TRIP_SCHEDULE_TRANSPORT,
                TRIP_SCHEDULE_COST,
                TRIP_SCHEDULE_NOTE,
                TRIP_SCHEDULE_ORDER,
                TRIP_SCHEDULE_DAY,
                TRIP_SCHEDULE_REG_DT,
                TRIP_SCHEDULE_MOD_DT
          FROM  TRIP_SCHEDULE
        <where>
            <if test='tripProjectNo != null and tripProjectNo != ""'>
                AND TRIP_PROJECT_NO = #{tripProjectNo}
            </if>
            <if test='tripScheduleDay != null and tripScheduleDay != ""'>
                AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
            </if>
        </where>
    </select>

    <select id="getPlanInfoBytripProjectNo" parameterType="tripProject" resultMap="tripProjectMap">
        SELECT tproj.TRIP_PROJECT_NO,
               tplan.TRIP_PLAN_NO,
               tplan.TRIP_PLAN_NM,
               tplan.TRIP_PLAN_ST_TIME,
               tplan.TRIP_PLAN_ST_DT,
               tplan.TRIP_PLAN_ED_DT,
               tplan.TRIP_PLAN_TIME_UNIT,
               tplan.TRIP_PLAN_ALL_NUM,
               tproj.TRIP_USER_NO
        FROM TRIP_PLAN tplan
                 JOIN TRIP_PROJECT tproj
                      ON tplan.TRIP_PLAN_NO = tproj.TRIP_PLAN_NO
        WHERE tproj.TRIP_PROJECT_NO = #{tripProjectNo}
    </select>

    <select id="getMaxTripScheduleDay" parameterType="String" resultType="int">
        SELECT MAX(TRIP_SCHEDULE_DAY) AS TRIP_SCHEDULE_DAY
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO =  #{tripProjectNo}
    </select>

    <update id="modifySchedule" parameterType="TripSchedule">
        UPDATE TRIP_SCHEDULE
           SET
               TRIP_SCHEDULE_ST_DT = #{tripScheduleStDt},
               TRIP_SCHEDULE_ED_DT = #{tripScheduleEdDt},
               TRIP_SCHEDULE_ST_TIME = #{tripScheduleStTime},
               TRIP_SCHEDULE_ED_TIME = #{tripScheduleEdTime},
               TRIP_SCHEDULE_DEPART = #{tripScheduleDepart},
               TRIP_SCHEDULE_ARRIVE = #{tripScheduleArrive},
               TRIP_SCHEDULE_TRANSPORT = #{tripScheduleTransport},
               TRIP_SCHEDULE_COST = #{tripScheduleCost},
               TRIP_SCHEDULE_NOTE = #{tripScheduleNote},
               TRIP_SCHEDULE_ORDER = #{tripScheduleOrder},
               TRIP_SCHEDULE_DAY = #{tripScheduleDay},
               TRIP_SCHEDULE_MOD_DT = sysdate()
        <where>
               TRIP_SCHEDULE_ORDER = #{tripScheduleOrder}
            <if test='tripProjectNo != null and tripProjectNo != ""'>
                AND TRIP_PROJECT_NO = #{tripProjectNo}
            </if>
            <if test='tripScheduleDay != null and tripScheduleDay != ""'>
                AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
            </if>
        </where>
    </update>

    <select id="getBeforeDayEdTime" parameterType="TripSchedule" resultType="String">
        SELECT TRIP_SCHEDULE_ED_TIME
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay} - 1
          AND TRIP_SCHEDULE_ORDER = (
            SELECT MAX(TRIP_SCHEDULE_ORDER)
            FROM TRIP_SCHEDULE
            WHERE TRIP_PROJECT_NO = #{tripProjectNo}
              AND TRIP_SCHEDULE_DAY = #{tripScheduleDay} - 1
        )
    </select>

    <select id="getAfterDayStTime" parameterType="TripSchedule" resultType="String">
        SELECT TRIP_SCHEDULE_ST_TIME
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay} + 1
          AND TRIP_SCHEDULE_ORDER = (
            SELECT MIN(TRIP_SCHEDULE_ORDER)
            FROM TRIP_SCHEDULE
            WHERE TRIP_PROJECT_NO = #{tripProjectNo}
              AND TRIP_SCHEDULE_DAY = #{tripScheduleDay} + 1
        )
    </select>

    <select id="getOrderEdDt" parameterType="TripSchedule" resultType="String">
        SELECT CONCAT(TRIP_SCHEDULE_ST_DT,TRIP_SCHEDULE_ED_TIME)
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
          AND TRIP_SCHEDULE_ORDER = #{tripScheduleOrder}
    </select>

    <select id="getOrderStDt" parameterType="TripSchedule" resultType="String">
        SELECT CONCAT(TRIP_SCHEDULE_ED_DT,TRIP_SCHEDULE_ST_TIME)
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
          AND TRIP_SCHEDULE_ORDER = #{tripScheduleOrder}
    </select>

    <select id="getMaxTripScheduleOrder" parameterType="TripSchedule" resultType="int">
        SELECT MAX(TRIP_SCHEDULE_ORDER) AS TRIP_SCHEDULE_DAY
        FROM TRIP_SCHEDULE ts
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
    </select>

    <select id="getScheduleListByDate" parameterType="TripSchedule" resultType="map">
        SELECT ts.TRIP_SCHEDULE_DAY ,
               GROUP_CONCAT(ts.TRIP_SCHEDULE_DEPART ORDER BY ts.TRIP_SCHEDULE_ORDER asc SEPARATOR '/') AS TRIP_ROUTE,
               SUM(ts.TRIP_SCHEDULE_COST) AS TRIP_COST,
               GROUP_CONCAT(ts.TRIP_SCHEDULE_NOTE ORDER BY ts.TRIP_SCHEDULE_ORDER asc SEPARATOR '/') AS TRIP_NOTE
        FROM TRIP_SCHEDULE ts
        WHERE ts.TRIP_PROJECT_NO = #{tripProjectNo}
          AND ts.TRIP_SCHEDULE_DAY = #{tripScheduleDay}
        GROUP BY ts.TRIP_SCHEDULE_DAY
    </select>

    <delete id="removeSchedule" parameterType="TripSchedule">
        DELETE
        FROM TRIP_SCHEDULE
        WHERE TRIP_PROJECT_NO = #{tripProjectNo}
          AND TRIP_SCHEDULE_DAY = #{tripScheduleDay}
    </delete>

</mapper>