<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oqplanner.tripproject.mapper.TripProjectMapper">

    <insert id="saveProject" parameterType="TripProject">
        INSERT INTO TRIP_PROJECT(TRIP_PROJECT_NO,
                                 TRIP_PLAN_NO,
                                 TRIP_USER_NO)
        VALUES (#{tripProjectNo},
                #{tripPlanNo},
                #{tripUserNo})
    </insert>

</mapper>